# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 17
b = 17
print(a == b)
print(a is b)

True
True

a == b перевіряє значення, a is b перевіряє, чи це один і той самий об'єкт у пам'яті. Як бачимо в обох випадках результат true, це свідчить про те, що обидві змінні посилаються на той самий об'єкт у пам'яті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
a = True
print(isinstance(a, bool))
print(isinstance(a, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a = 10
b = 2.6
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

12.6
7.4
26.0
3.846153846153846
3.0
2.1999999999999997
398.1071705534973

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
b = 2.6
b_int = int(b)
print(b_int)
x = True
x_int = int(x)
print(x_int)

2
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()
print(str1)
print(str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [27]:
str1 = "I'm Sanya\n Kopiievskyi"
str2 = r"I'm Sanya\n Kopiievskyi"
print(str1)
print(str2)

I'm Sanya
 Kopiievskyi
I'm Sanya\n Kopiievskyi

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [10]:
surname = "Kopiievskyi"
text = "My surname is " + surname
print(text)

My surname is Kopiievskyi

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
text = "My dog is crazy."
words = text.lower().split(".")[0].split(" ")
print(words)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [12]:
list1 = [1, 2, 3, 4]
list2 = list(("a", "b", "c", "d"))
print(list1)
print(list2)
print(len(list2))

[1, 2, 3, 4]
['a', 'b', 'c', 'd']
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [13]:
a = [1, 2, 3]
b = [4, 5, 6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [14]:
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
value = a[-1][0]
print(value)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [16]:
a = [True, 1, 1.5, "a", False, 5, 18.99, "Sanya", True, 17, 1.1]
b = a[2:-2]
print(b)

[1.5, 'a', False, 5, 18.99, 'Sanya', True]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [17]:
t = (5,)
print(t)

(5,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список і кортеж є впорядкованими послідовностями даних, які можуть зберігати елементи різних типів. Основна схожість у тому, що вони підтримують індексацію та ітерацію. Основна відмінність: список мутабельний і повільний, а кортеж іммутабельний та швидкий. Перший доцільно використовувати, коли дані можуть змінюватись, а кортежі - коли аотрібно забезпечити незмінність.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
my_tuple[::-2]

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [21]:
s = set()
s.add(1)
s.add("hello")
print(s)

{1, 'hello'}

Множини є змінним типом даних, оскільки їхній вміст можна змінювати після створення, як у цій задачі за допомогою .add

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [22]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

При створенні множини зі списку всі дублікати автоматично видаляються, тому повторювані значення зникли

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [23]:
a = {1, 2, 3}
b = {3, 4, 5}
union = a.union(b)
difference = a.difference(b)
intersection = a.intersection(b)
sym_diff = a.symmetric_difference(b)
print(union)
print(difference)
print(intersection)
print(sym_diff)

{1, 2, 3, 4, 5}
{1, 2}
{3}
{1, 2, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [24]:
d = {}
d[1] = "unmber"
d["two"] = 2
d[5.5] = "float"
d[False] = "boolean"
print(d)

{1: 'unmber', 'two': 2, 5.5: 'float', False: 'boolean'}

Список не може бути ключем словника, оскільки він є змінним типом даних. Ключі словника повинні бути незмінними (immutable)

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [26]:
d = {
    "level1": {
        "level2": {
            "level3": "hiden word"
        }
    }
}
print(d["level1"]["level2"]["level3"])

hiden word

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.